@import url('https://fonts.cdnfonts.com/css/edit-undo-brk');
h2 {
  font-family: 'Edit Undo BRK', sans-serif;
  font-size: 3.5rem;
  color: rgb(255, 0, 255);
  animation: glow 3s ease infinite;
}
@keyframes glow {
  0% {text-shadow:0px 0px 0px #9600bb, 0px 0px 0px #eb56ff;}
  50% {text-shadow:1px 1px 5px #000000, 1px 1px 5px #000000;}
  100% {text-shadow:0px 0px 0px #9600bb, 0px 0px 0px #eb56ff;}
}
body {
    font-family: Arial, sans-serif;
    background-image:
    linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url(img/background2.png);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    padding: 20px;
    height: 100%;
  }
html {
  background-color: black;
}
  .container {
    position: relative;
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    border: 0px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1;
  }
  .container::before{
    filter: brightness(0.5);
    content: "";
    position: absolute;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: -1;
  }

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
}

.form-group input {
    width: 100%;
    height: 40px;
    padding: 0px;
    border: 1px solid #000000;
    border-radius: 5px;
}

button {
    width: 100%;
    height: 40px;
    background-color: #8a0055;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #500045;
    box-shadow: 0 0px 30px rgba(183, 0, 255, 0.8);
}

.link-cadastro {
    text-align: center;
    margin-top: 10px;
}

.link-cadastro a {
    text-decoration: none;
    color: #8a0055;
}

.link-cadastro a:hover {
    color: #e200c4;
}