@import url('https://fonts.cdnfonts.com/css/edit-undo-brk');
h2 {
  font-family: 'Edit Undo BRK', sans-serif;
  font-size: 2rem;
  color: rgb(255, 0, 255);
}
body {
    font-family: Arial, sans-serif;
    background-image:
    linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url(img/background6.png);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    padding: 20px;
    height: 100%;
    overflow-y: hidden;
  }
  .container {
    position: relative;
    width: 350px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1;
  }
  .container::before {
    filter: brightness(0.5);
    content: "";
    position: absolute;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: -1;
  }
  .container h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  .form-group {
    margin-bottom: 15px;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
  }
  .btn-submit {
    width: 100%;
    height: 40px;
    background-color: #8a0055;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;

  }
  .btn-submit:hover {
    background-color: #500045;
    box-shadow: 0 0px 30px rgba(183, 0, 255, 0.8);
  }
  .link-login {
    text-align: center;
    margin-top: 15px;
  }
  .link-login a {
    text-decoration: none;
    color: #8a0055;
  }
  .link-login a:hover {
    color: #e200c4;
  }