<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Noticias</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style_servicos.css') }}">
</head>
<body>
<header>
  <h1 style="color: #bb00ff; -webkit-text-stroke: 1px rgb(255, 255, 255) ; text-shadow: 2px 2px 20px rgb(53, 0, 48); font-family: 'Shameimaru Sans', sans-serif; font-size: 4rem;
  animation: blink 5s ease infinite;">{{ nomeuser }}</h1>
  <div class="btn-container">
  </div>
</header>
<main id="feed-container">
  {% for noticia in noticias %}
    <article class="postagem">
      <img class="imagem-postagem" src="{{ noticia.imagem }}" alt="{{ noticia.titulo }}">
      <div class="conteudo-postagem">
        <h2 class="titulo-noticia">{{ noticia.titulo }}</h2>
        <p class="descricao">{{ noticia.descricao }}</p>
        <a class="fonte" href="{{ noticia.fonte }}" target="_blank">ⓘ Fonte</a>
        <a class="chat" href="{{ url_for('main.chat', chat_id=noticia.id) }}" target="_blank">Chat →</a>
      </div>
    </article>
  {% endfor %}
</main>

<script>
  
  const feedContainer = document.getElementById('feed-container');

  // Cria post sem interação
  function criarPostagem(noticia) {
    const postagem = document.createElement('article');
    postagem.classList.add('postagem');

    const img = document.createElement('img');
    img.className = 'imagem-postagem';
    img.src = noticia.imagem;
    img.alt = noticia.titulo;

    const conteudo = document.createElement('div');
    conteudo.className = 'conteudo-postagem';

    const titulo = document.createElement('h2');
    titulo.className = 'titulo-noticia';
    titulo.textContent = noticia.titulo;

    feedContainer.addEventListener('click', () => {
    window.location.href = `/chat/${noticia.id}`;
});


    const descricao = document.createElement('p');
    descricao.className = 'descricao';
    descricao.textContent = noticia.descricao;

    const fonte = document.createElement('a');
    fonte.className = 'fonte';
    fonte.href = noticia.fonte;
    fonte.textContent = 'ⓘ Fonte';
    fonte.target = '_blank';

    const chat = document.createElement('a');
    chat.className = 'chat';
    chat.href = `/chat/${noticia.id}`;
    chat.textContent = 'Chat --->';
    chat.target = '_blank';

    conteudo.appendChild(titulo);
    conteudo.appendChild(descricao);

    postagem.appendChild(img);
    postagem.appendChild(conteudo);
    conteudo.appendChild(fonte)
    conteudo.appendChild(chat)

    return postagem;
  }

  noticias.forEach(noticia => {
    feedContainer.appendChild(criarPostagem(noticia));
  });

</script>
</body>
</html>
