<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Noticias</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style_servicos.css') }}">
</head>
<body>
<header>
  <h1 style="color: #bb00ff; -webkit-text-stroke: 0.3px rgb(255, 255, 255) ; text-shadow: 2px 2px 20px rgb(53, 0, 48); font-family: 'Pistoleer', sans-serif; font-size: 4rem;
  animation: blink 5s ease infinite;">Notícias</h1>
  <div class="btn-container">
  </div>
</header>
<main id="feed-container">

</main>

<script>
  // Notícias com imagem ilustrativa
  const noticias = [
    {
      id: 'deadisland2',
      titulo: 'Texto teste',
      descricao: 'Texto teste',
      imagem: 'https://assets.xboxservices.com/assets/1f/c8/1fc8ce3b-60b6-422a-84d3-16858472ccde.jpg?n=745632_GLP-Page-Hero-1084_1920x1080.jpg',
      fonte: ''
    },
    {
      id: 'vibrantvisuals',
      titulo: 'Texto teste',
      descricao: 'Texto teste',
      imagem: 'https://pub-f354ec240bea480db7320bd0e29d972e.r2.dev/sites/8/2025/03/Minecraft_03_Vibrant_Visuals-dc564aedc997d04ebbf5.jpg',
      fonte: ''
    },
    {
      id: 'GTA6',
      titulo: 'Texto teste',
      descricao: 'Texto teste',
      imagem: 'https://cdn.mos.cms.futurecdn.net/hBWx3UpU2Je2zJqrHLyUQW.jpg',
      fonte: '',
    }
  ];

  const feedContainer = document.getElementById('feed-container');

  // Cria post sem interação
  function criarPostagem(noticia) {
    const postagem = document.createElement('article');
    postagem.classList.add('postagem');

    const img = document.createElement('img');
    img.className = 'imagem-postagem';
    img.src = noticia.imagem;
    img.alt = noticia.titulo;

    const conteudo = document.createElement('div');
    conteudo.className = 'conteudo-postagem';

    const titulo = document.createElement('h2');
    titulo.className = 'titulo-noticia';
    titulo.textContent = noticia.titulo;

    titulo.addEventListener('click', () => {
  
    window.open(noticia.fonte, '_blank');
});


    const descricao = document.createElement('p');
    descricao.className = 'descricao';
    descricao.textContent = noticia.descricao;

    const fonte = document.createElement('a');
    fonte.className = 'fonte';
    fonte.href = noticia.fonte;
    fonte.textContent = 'ⓘ Fonte';
    fonte.target = '_blank';

    conteudo.appendChild(titulo);
    conteudo.appendChild(descricao);

    postagem.appendChild(img);
    postagem.appendChild(conteudo);
    conteudo.appendChild(fonte)

    return postagem;
  }

  noticias.forEach(noticia => {
    feedContainer.appendChild(criarPostagem(noticia));
  });

</script>
</body>
</html>
